<div class="grid-container">
  <div>
    <h1 class="heading">Video Library</h1>
  </div>
  <div class="wrapper">
    <div class="box">
      <a routerLink="/videolibrary/foundation"
        ><img src="assets/icons/Foundation.svg" alt="Study Materials.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/videolibrary/JEE-NEET"
        ><img src="assets/icons/JEE-NEET.svg" alt="Video Library.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/videolibrary/specialvideos"
        ><img src="assets/icons/Special Videos.svg" alt="Ask Your Doubts.svg"
      /></a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
