<div class="grid-container">
  <div>
    <h1 class="heading">Study Material</h1>
  </div>
  <div class="wrapper">
    <div class="box">
      <a routerLink="/pdflibrary/studymaterial/boardcorner"
        ><img src="assets/icons/Board Corner.svg" alt="Study Materials.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/pdflibrary/studymaterial/advancedtheory"
        ><img src="assets/icons/Advanced Theory.svg" alt="Video Library.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/pdflibrary/studymaterial/classroomwork"
        ><img src="assets/icons/Classroom Work.svg" alt="Ask Your Doubts.svg"
      /></a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
