<div class="grid-container">
  <div>
    <h1 class="heading">Welcome to AB Physics</h1>
  </div>
  <div class="wrapper">
    <div class="box">
      <a href="https://abphysics.webex.com/meet/abphysics.2020"
        ><img src="assets/icons/Live Classes.svg" alt="Live Classes.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/pdflibrary"
        ><img src="assets/icons/PDF Library.svg" alt="PDF Library.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/videolibrary"
        ><img src="assets/icons/Video Library.svg" alt="Video Library.svg"
      /></a>
    </div>
    <div class="box">
      <a routerLink="/askyourdoubt"
        ><img src="assets/icons/Ask Your Doubts.svg" alt="Ask Your Doubts.svg"
      /></a>
    </div>
  </div>
</div>
